@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "IRANSansWeb";
    src: local("IRANSansWeb"), url("/public/font/IRANSansWeb.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWeb_Black";
    src: local("IRANSansWeb_Black"), url("/public/font/IRANSansWeb_Black.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWeb_Bold";
    src: local("IRANSansWeb_Bold"), url("/public/font/IRANSansWeb_Bold.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWeb_Light";
    src: local("IRANSansWeb_Light"), url("/public/font/IRANSansWeb_Light.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWeb_Medium";
    src: local("IRANSansWeb_Medium"), url("/public/font/IRANSansWeb_Medium.ttf");
    font-display: swap;
  }
}

.custom-mask {
  clip-path: polygon(96% 0, 55% 100%, 19% 100%, 70% 0);
}
.soli {
  clip-path: polygon(100% 1%, 100% 100%, 0 100%, 25% 0);

  background-position: center;
}
.slider-container {
  overflow: hidden;
  width: 100%;
}
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}



.bg_z {
  background-image: "url(../Style/img/bgover.jpg)";
}
.bg-primary {
  background-color: var(--primary-color);
}
/* styles.css */

.circle1 {
  transition: transform 0.5s ease-in-out;
  position: absolute;
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 50%,
    50% 49%,
    49% 99%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
}
.circle2 {
  transition: transform 0.5s ease-in-out;
  position: absolute;
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    0 57%,
    51% 57%,
    51% 1%
  );
}
.custom-bg:hover {
  @apply hover:bg-zinc-100  !important;
}
.role {
  width: 64%;
}

/* meno */

.hiddenMeno {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

/* border film */

.borderYel {
  @apply border border-yellow-400;
}

.modal {
  display: none;
}
.small-modal {
  @apply w-96 h-48 text-sm font-iran-black pb-2 mt-24;
}

/* detels donload */
.borderHover {
  @apply hover:bg-orange-500 dark:bg-neutral-300 dark:hover:rounded-xl dark:hover:border-zinc-400 dark:hover:border-2 hover:text-white px-4 py-2 cursor-pointer rounded;
}
.glass {
  background: rgba(255, 255, 255, 0.1); /* شفافیت پس‌زمینه */
  backdrop-filter: blur(10px); /* محو کردن پس‌زمینه */
  -webkit-backdrop-filter: blur(10px); /* برای سازگاری بهتر */
  border: 1px solid rgba(255, 255, 255, 0.2); /* حاشیه ظریف */
  border-radius: 8px; /* گرد کردن گوشه‌ها */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* سایه ظریف */
}
