@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-mask {
    clip-path: polygon(96% 0, 55% 100%, 19% 100%, 70% 0);

    
}
.soli{
  
    clip-path: polygon(100% 1%, 100% 100%, 0 100%, 25% 0);
   
    background-position: center;

}
