@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-mask {
    clip-path: polygon(96% 0, 55% 100%, 19% 100%, 70% 0);

    
}
.soli{
  
    clip-path: polygon(100% 1%, 100% 100%, 0 100%, 25% 0);
   
    background-position: center;

}
.slider-container {
    overflow: hidden;
    width: 100%;
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width: 25%;
    box-sizing: border-box;
}
